body{
    background-color: rgb(224, 203, 144);
    
    
}

.container{
    margin: 10px auto;
    background-color: aqua;
    width: 300px;
    height:auto;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,2);
    
    
}

.register{
    background: green;
    color: white;
    width: 45%;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
}

.reset{
    background: red;
    color: white;
    width: 45%;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
}

.inputbox{
    width: 90%;
}